#!/usr/bin/env bash
# ^ added for shellcheck and file-type detection

# Watch & reload direnv on change
watch_file devshell.toml

if [[ $(type -t use_flake) != function ]]; then
  echo "ERROR: use_flake function missing."
  echo "Please update direnv to v2.30.0 or later."
  exit 1
fi
use flake
ENVVARS_FILE='.envvars'
if [ ! -f "$ENVVARS_FILE" ]; then
    cat <<EOF > "$ENVVARS_FILE"
export TF_VAR_proxmox_api_url=https://pve.reinthal.me:8006/api2/json
export TF_VAR_proxmox_api_token_id='CONFIGUREME'
export TF_VAR_proxmox_api_token_secret=CONFIGUREME
EOF
    echo "New $ENVVARS_FILE file has been created. Log in to proxmox and configure like this "
    echo "pveum user token add user@pve killertofu --privsep 0"
else
    echo "Sourcing environment variables from $ENVVARS_FILE"
    source $ENVVARS_FILE
fi


